<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layout/layout-s :: head"></head>
<body>

	<!-- 	<div class="jumbotron"> -->
	<!-- 		<div class="container text-center"> -->
	<!-- 			<h1>Beer4Life</h1> -->
	<!-- 			<p>Online Store</p> -->
	<!-- 		</div> -->
	<!-- 	</div> -->

	<header th:replace="layout/layout-s :: header"></header>

	<div class="pru">
		<div class="container">
			<!-- 						<div class="column" th:each="productos: ${populate}"> -->
			<!-- 							<div class="col-sm-4"> -->
			<!-- 								<div class="panel panel-primary"> -->
			<!-- 									<div class="panel-heading" th:text="${productos.name}"></div> -->
			<!-- 									<div class="panel-body"> -->
			<!-- 										<img src="https://placehold.it/150x80?text=IMAGE" -->
			<!-- 											class="img-responsive" style="width: 100%" alt="Image"> -->
			<!-- 									</div> -->
			<!-- 										<div class="panel-footer" th:text="${productos.tags}" style="text-align:center;"></div> -->
			<!-- 										<div class="panel-footer" sec:authentication="name" style="text-align:center;"></div> -->
			<!-- 									</div> -->
			<!-- 							</div> -->
			<!-- 						</div> -->

			<div class="panel-default well" th:each="product : ${populate}">
				<div class="panel-heading">
					<h1 th:text="${product.name}"></h1>
				</div>
				<h3>Tipo: [[${product.tags}]]</h3>
				<h3>Porcentaje de Alcohol: [[${product.abv}]] %</h3>
				<h3>Productor: [[${product.brewery}]]</h3>
				<div class="row panel-footer">
					<div th:inline="text" class="col-md-2">Price:
						[[${product.price}]] $</div>
					<div th:inline="text" class="col-md-9">In Stock:</div>
					<a th:href="@{'/shoppingCart/addProduct/{id}'(id=${product.id})}"
						class="col-md-1">
						<button type="button" class="btn btn-primary" th:text="Buy">Buy</button>
					</a>
				</div>
				<br></br>
			</div>

			<div class="panel-default well" th:each="product : ${populate}">
				<div class="panel-heading text-center text-uppercase font-weight-bold" th:text="${product.name}"></div>
				<div class="panel-body text-center">
					<h5 class="panel-title text-center">Estilo: [[${product.tags}]]</h5>
					<p class="panel-text text-center">Productor: [[${product.brewery}]]</p>
					<p class="panel-text text-center">Porcentaje de Alcohol: [[${product.abv}]] %</p>
					<a href="#" class="btn btn-primary">Comprar</a>
				</div>
				<div class="panel-footer text-muted">Price:
						[[${product.price}]] $</div>
			</div>


		</div>
	</div>

	<footer th:replace="layout/layout-s :: footer"></footer>

</body>
</html>
