<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layout/layout-s :: head"></head>
<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Beer4Life</h1>
			<p>Online Store</p>
		</div>
	</div>
	
	<header th:replace="layout/layout-s :: header"></header>
	
	<div class="pru">
		<div class="container">
			<div class="column" th:each="productos: ${productos}">
				<div class="col-sm-4">
					<div class="panel panel-primary">
						<div class="panel-heading" th:text="${productos.nombre}"></div>
						<div class="panel-body">
							<img src="https://placehold.it/150x80?text=IMAGE"
								class="img-responsive" style="width: 100%" alt="Image">
						</div>
						<div class="panel-footer" th:text="${productos.precio}" style="text-align:center;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout-s :: footer"></footer>

</body>
</html>
