<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout-s :: head"></head>
<body>

	<header th:replace="layout/layout-s :: header"></header>
	<div class="pru">
		<div class="container-fluid">
			<div class="row content">
				<div class="col-sm-2 sidenav hidden-xs"
					style="text-align: center; margin-bottom: 3%;">
					<!-- 					<h2>Paginas</h2> -->
					<nav th:replace="paginator/product-paginator :: paginator"></nav>
					<br>
				</div>
				<br>

				<div class="col" th:each="product : ${populate}">
					<div class="col-sm-3">
						<div class="panel-default well text-center">
							<div class="panel-title text-center" th:text="${#strings.abbreviate(product.name,25)}"></div>
						<div class="panel-body text-center">
							<h5 class="panel-text text-center" th:text="${#strings.abbreviate(product.tags,25)}" ></h5>
							<p class="panel-text text-center">Cervecera:[[${product.brewery}]]</p>
							<p class="panel-text text-center">
								Alcohol:[[${product.abv}]] %</p>
							<a th:href="@{/factura/form/} + ${user.id}"
								class="btn btn-primary">Comprar</a>
						</div>
						<div class="panel-footer text-muted">Price:[[${product.price}]]
							$</div>
					</div>
				</div>

			</div>

			<div class="col-sm-4"></div>


			<div class="row"></div>
			<div class="row"></div>
		</div>
		</div>
	</div>

	<header th:replace="layout/layout-s :: footer"></header>

</body>
</html>
