.jumbotron {
	background-image: url("/images/1.jpg");
		margin-bottom: 0;
	/* 	background-size: cover; */
	background-position: 50% 13%;
	color: white;
}

.container {
	/* 	background-image: url("/images/3.jpg"); */
	
}

.pru {
	background-image: url("/images/7.jpg");
	background-repeat: repeat;
		background-size: 55%;
	background-position: 50% 13%;
	padding-top: 40px;
}

.navbar{
	margin-bottom: 0px !important ;
	border-radius: 0;
	
}

footer {
	background-color: #f2f2f2;
	padding: 25px;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}
